.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mask {
  width: 350px;
  mask-repeat: no-repeat;
  mask-position: 300% 300%;
  mask-image: url('../../assets/masks/blob.svg');
  transition: mask-position 1s ease-out;

  &:hover {
    mask-position: 35% 50%;
  }
}
