.mobile-navigation {
  width: 100%;
  height: 100%;
  &List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }
}

.desktop-navigation {
    @media (width < 768px) {
        display: none;
    }
  &List {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
}
