.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 100%, 1000px);
  gap: 1rem;

  .innerCarousel {
    position: relative;
    width: 200px;
    height: 200px;

    .mask {
      mask-image: url(../../assets/masks/blob.svg);
      mask-mode: alpha;
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: top right;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: clip;
    }
  }

  .carouselFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    .carouselControlGroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .imageCounter {
      font-size: 1.1rem;
    }
  }
}
