.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 0 auto 2rem;
    padding: 0.5rem;
    background-color: #76767657;
    color: hsla(38, 34%, 59%, 1.00);
}