@use '@/styles/colors.scss' as c;
@use '@/styles/mixins.scss' as m;
@use '@/styles/lists.scss' as l;

.footer {
  display: grid;
  gap: 0.5rem;
  background-color: c.$primary;
  padding: 1rem;
  color: c.$gold;

  &:last-child {
    text-align: center;
  }

  @each $device in l.$devices {
    @include m.media($device) {
      grid-template-columns: 1fr 1fr 2fr 2fr;
      place-items: center;
    }
  }
}

.socialMedia {
  display: none;

  @each $device in l.$devices {
    @include m.media($device) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
