@use '@/styles/colors.scss' as c;

.footer {
  background-color: c.$primary;
  padding: 1rem;
  color: c.$gold;

  &:last-child {
    text-align: center;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto 1rem;
    width: 100%;
    max-width: 500px;
  }
}
